<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>test_RSKImageCropper.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9AF9C5CA1CBD3363009EC7A6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9AF9C5DE1CBD3363009EC7A6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9AF9C5E91CBD3363009EC7A6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
